footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    color: var(--textColor);
    font-size: var(--sizeParagrafo);
    background-color: var(--primaryColor);
    width: 100%;
    height: 8vh;
    border-top: 2px solid var(--detailsColor);
}

.spanFooter{
    color: var(--detailsColor);
}

/* Mobile First (até 480px) */
@media (max-width: 767px) {
    footer{
        font-size: 1em;
    }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    footer{
        font-size: 1.5em;
    }
}
