/*Classes para organização de estrutura*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    overflow-x: hidden;
}

.centralizado, .sectionLimitada{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionLimitada{
    width: 92%;
}

/*Animações Globais*/

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transition: all 1s;
}

/*Estilização do Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e242b;
    color: #ffff;
    width: 100%;
    height: 8vh;
    padding: 0 30px;
    border-bottom: 1px solid #ffff;
}

header span{
    font-size: 25px;
}

header .links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

header .links a{
    margin: 0 20px;
    text-decoration: none;
    color: #ffff;
    display: flex;
    flex-direction: column;
}

header .links a::after{
    content: "";
    background-color: rgba(255, 255, 255, .75);
    width: 0%;
    height: 2px;
}

header .links a:hover::after{
    animation-name: AnimHeader;
    animation-duration: 500ms;
    width: 100%;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #ffff;
    margin: 8px;
}

/*Animação Header*/

@keyframes AnimHeader {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

/*Estilização Main e Footer*/

main, footer{
    background-color: #1e242b;
    color: #ffff;
    flex-direction: column; 
    gap: 50px;
}

/*Estilização da section Banner*/

.banner{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner p{
    font-size: 42px;
    width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ffff ;
}

.banner p span{
    color: blueviolet;
}

.banner p:nth-child(1){
    animation: AnimaDigitar 6s infinite ;
}

.banner figure img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

/*Animação p Banner*/

@keyframes AnimaDigitar {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

/*Estilização da section sobre*/

.sectionAboutMe{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.sectionAboutMe figure img{
    width: 400px;
    height: 300px;
}

.sectionAboutMe .conteudo{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

.title{
    width: 100%;
    gap: 5px;
}

.title h2{
    text-align: center;
}

.row{
    width:75%;
    height: 2px;
    background-color: white;
}

.sectionAboutMe .title .row{
    width:100%;
}

/*Estilização da seção de conhecimento*/

.sectionStacks, .sectionContato{
    flex-direction: column;
}

.stacks img{
    width: 40px;
    height: 40px;
}

.skill figure .stack{
    margin-bottom: 10px;
}

.skill ul li{
    margin-bottom: 50px;
}

.skill{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.conhecimento{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.stack{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.skill, .stacks{
    display: flex;
    flex-direction: column;
}

/*Estilização da Seção Projetos*/

.sectionProjetos{
    gap: 30px;
    flex-direction: column;
}

.sectionProjetos .containerProjetos{
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.containerProjetos .project{ 
    width: 400px;
    height: 200px;
    position: relative;
}

.Projetoconteudo:hover{
    z-index: 4;
    background-color: rgb(0, 0, 0, 0.8);
    transition: background-color 700ms;
}

.ProjetoTittle:hover{
    z-index: 2;
}

.ProjetoTittle{
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
}

.Projetoconteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.Projetoconteudo p{
    padding: 8px;
    height: 100%;
}

.Projetoconteudo .sectionButtons{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.sectionButtons .button img{
    width: 50px;
    height: 50px;
}

.sectionButtons .button{
    flex-direction: column;
}

.sectionButtons .button a{
    color: white;
    text-decoration: none;
}

/*Animação de cada projeto*/

.project:nth-child(1){
    transition-delay: 400ms;
}

.project:nth-child(2){
    transition-delay: 700ms;
}

.project:nth-child(3){
    transition-delay: 1000ms;
}

.project:nth-child(4){
    transition-delay: 1300ms;
}

.project:nth-child(5){
    transition-delay: 1600ms;
}

.project:nth-child(6){
    transition-delay: 1700ms;
}

/*Estilização de cada projeto*/

.project:nth-child(1) .ProjetoTittle {
    background-image: url(img/imgProjetos/bannerRestaurante.png);
    background-size: cover;
}
  
.project:nth-child(2) .ProjetoTittle {
    background-image: url(img/imgProjetos/bannerAgencia.png);
    background-color: orange;
    background-size: cover;
}
  
.project:nth-child(3) .ProjetoTittle {
    background-image: url(img/imgProjetos/controle-estoque.png);
    background-size: cover;
}

.project:nth-child(4) .ProjetoTittle {
    background-image: url(img/imgProjetos/banner-Sorveteria.png);
    background-size: cover;
    background-position: center;
    background-color: #fcdc7c;
}

.project:nth-child(5) , .project:nth-child(6){
    background-image: url(img/imgProjetos/FundoDesenvolvimento.jpg);
    background-size: cover;
}


/*Estilização da seção Contato*/

.sectionContato{
    gap: 50px;
    margin-bottom: 40px;
}

.sectionContato nav{
    display: flex;
    gap: 50px;
}

.sectionContato img{
    width: 50px;
    height: 50px;
}

.sectionContato nav a, .sectionContato .wht{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

footer{
    border-top: 1px solid #ffff;
    text-align: center;
    padding: 10px;
}

/* Responsividade do menu */
@media screen and (max-width: 768px) {
    .mobile-menu {
        display: block;
    }

    .links {
        position: absolute;
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 45vw;
        height: 92vh;
        background-color: red;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

}


/*Responsividade para telas com no maximo 375px CELULAR PEQUENO*/
@media screen and (max-width:375px){
    header span{
        font-size: 36px;
    }

    header .links{
        gap: 10px;
    }

    header .links a{
        width: auto;
        font-size: 22px;
    }

    .banner figure{
        display: none;
    }

    .banner p{
        font-size: 22px;
    }

    .sectionAboutMe{
        flex-direction: column;
        gap: 50px;
        margin-bottom: 100px;
    }

    .sectionAboutMe figure img{
        width: 100%;
        height: 100%;
    }

    .sectionAboutMe .conteudo{
        width: 100%;
    }

    .sectionStacks .conhecimento{
        width: 100%;
        gap: 50px;
        justify-content: space-evenly;
    }

    .containerProjetos{
        flex-direction: column;
    }

    .ProjetoTittle{
        font-size: 18px;
    }

    .containerProjetos .project{
        width: 100%;
        height: 250px;
    }

    .Projetoconteudo{
        font-size: 15px;
    }

    .project:nth-child(5) , .project:nth-child(6){
        display: none;
    }

    .sectionContato{
        width: 90%;
    }

    .sectionContato nav{
        width: 100%;
        gap: 20px;
    }

    .sectionContato nav a{
        width:auto;
        height: 100px;
    }

    .wht{
        width: 60px;
    }

    .wht p{
        font-size: 17px;
        text-align: center;
    }

    footer{
        font-size: 20px;
    }
}

/*Responsividade para telas com no maximo 426px CELULAR MEDIO*/
@media screen and (min-width:376px) and (max-width:425px) {  
    header{
        flex-wrap: nowrap;
        gap: 10px;
    }

    header .links {
        gap: 10px;
    }

    .banner figure{
        display: none;
    }

    .banner p{
        font-size: 1.5em;
        width: auto;
    }

    .sectionAboutMe{
        flex-direction: column;
        gap: 50px;
        margin-bottom: 20px;
    }

    .sectionAboutMe .conteudo{
        width: 100%;
        height: auto;
    }

    .sectionAboutMe figure img{
        width: 100%;
    }

    .sectionStacks .conhecimento{
        width: 100%;
        gap: 50px;
        justify-content: space-evenly;
    }

    .containerProjetos{
        flex-direction: column;
    }

    .containerProjetos .project{
        width: 100%;
        font-size: 14px;
    }

    .ProjetoTittle{
        font-size: 20px;
    }

    .project:nth-child(5) , .project:nth-child(6){
        display: none;
    }

    .wht p{
        font-size: 17px;
        text-align: center;
    }

    footer{
        font-size: 20px;
    }
}

/*Responsividade para telas com no maximo 768px TABLET*/
@media screen and (min-width:426px) and (max-width:768px) {
    header span{
        font-size: 30px;
    }

    header nav .links{
        font-size: 20px;
    }

    .banner figure{
        display: none;
    }

    .banner p{
        font-size: 30px;
    }

    .sectionAboutMe{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-bottom: 60px;
    }

    .sectionAboutMe figure img{
        width: 100%;
    }

    .sectionStacks .conhecimento{
        width: 100%;
        justify-content: space-evenly;
    }

    .containerProjetos{
        flex-direction: column;
    }

    .sectionProjetos .project{
        width: 100%;
        height: 300px;
    }

    .sectionProjetos .project .Projetoconteudo{
        font-size:20px;
    }

    .ProjetoTittle{
        font-size: 28px;
    }

    .project:nth-child(5) , .project:nth-child(6){
        display: none;
    }

}

/*Responsividade para telas de 769px até 1024px DESKTOP*/
@media screen and (min-width:769px) and (max-width:1024px){
    .banner{
        justify-content: space-between;
    }

    .banner figure img{
        width: 100%;
        height: auto;
    }

    .banner figure{
        width: 50%;
    }

    .banner p{
        width: 50%;
        font-size: 1.7rem;
    }

    .sectionAboutMe{
        height: auto;
        gap: 20px;
    }

    .sectionAboutMe .conteudo p{
        font-size: 20px;
    }

    .sectionAboutMe .conteudo{
        width: 50%;
        height: auto;
    }

    .sectionAboutMe figure img{
        width: 100%;
        height: 100%;
    }

    .sectionAboutMe figure{
        width: 50%;
        height: auto;
    }

    .sectionStacks .conhecimento .skill{
        font-size: 22px;
    }

    .sectionStacks .conhecimento{
        width: 70%;
    }

    .sectionProjetos .project{
        flex-grow: 1;
        flex-basis: 400px;
        height: 250px;
    }

    .sectionProjetos .project .Projetoconteudo{
        font-size: 19px
    }
}

/*Responsividade para telas de no minimo 1440px*/
@media screen and (min-width:1440px){
    header nav a{
        font-size: 23px;
    }

    header span{
        font-size: 36px;
    }

    .title{
        font-size: 26px;
    }

    .banner figure img{
        width:80%;
    }

    .sectionAboutMe figure img{
        width: 35vw;
        height: auto;
    }

    .sectionAboutMe .conteudo{
        font-size: 26px;
        width:60vh;
        height: auto;
    }

    .sectionStacks .conhecimento{
        width: 60%;
    }

    .sectionStacks h3{
        font-size: 30px;
    }

    .sectionStacks .conhecimento .stacks p, .sectionStacks .conhecimento li{
        font-size: 26px;
    }

    .sectionStacks .conhecimento img{
        width: 70px;
        height: 70px;
    }

    .sectionProjetos .project{
        flex-grow: 1;
        flex-basis: 600px;
        height: 300px;
    }

    .sectionProjetos .project .ProjetoTittle{
        font-size: 30px;
    }

    .sectionProjetos .project .Projetoconteudo{
        font-size: 26px;
    }

    .sectionProjetos .sectionButtons img{
        width: 75px;
        height: 70px;
    }

    .project:nth-child(5) , .project:nth-child(6){
        font-size: 30px;
    }

    .sectionContato nav{
        width:70%;
        height: auto;
        justify-content: space-between;
        font-size: 30px;
    }

    .sectionContato nav a{
        width: 150px;
        height: auto;
    }

    .sectionContato nav img{
        width: 70px;
        height: 80px;
    }

    footer{
        font-size: 36px;
        padding: 20px;
    }

}
