.aboutMe {
    display: flex;
    gap: 2em;
    padding: 5em 7em;
    color: var(--textColor);
    background-color: var(--primaryColor);
}

.textAboutme {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
}

.textAboutme h2 {
    font-size: var(--sizeSubTittle);
}

.textAboutme p {
    width: 80%;
    font-size: var(--sizeParagrafo);
}

.imgAboutme {
    width: 50%;
    min-height: 100%;
    border-radius: 50px;
    background-image: url('../assets/img/laptop-com-icone-de-codigo.avif');
}


.buttonCurriculo{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: .5em;
    width: 220px;
    padding: 5px;
    color: var(--textColor);
    font-size: var(--sizeParagrafo);
    background-color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
    border-radius: 8px;
    cursor: pointer;
}

.buttonCurriculo:hover{
    border: 2px solid var(--detailsColor);
}
