.sectionContato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: var(--paddingSections);
    color: var(--textColor);
    background-color: var(--primaryColor);
}

.tittleContato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tittleContato h2{
    font-size: var(--sizeTittle);
    color: var(--detailsColor)
}

.tittleContato h3{
    font-size: var(--sizeSubTittle);
}

.containerContato{
    display: flex;
    gap: 4em;
}

/* Mobile First (até 480px) */
@media (max-width: 480px) {
    .sectionContato {
        padding: 0;
        width: 100%;
    }

    .tittleContato{
        font-size: 12px;
    }

    .containerContato{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}