header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryColor), 0.4;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 8vh;
    padding: 0 3em;
    border-bottom: 2px solid var(--detailsColor);
    position: fixed;
    top: 0;
}

.menuMobile {
    display: none;
}

.spanHeader {
    color: var(--detailsColor);
    font-size: 1.6em;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

header .links a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
}

header .links a::after {
    content: "";
    background-color: var(--detailsColor);
    width: 0%;
    height: 2px;
}

header .links a:hover::after {
    animation-name: AnimHeader;
    animation-duration: 500ms;
    width: 100%;
}

@keyframes AnimHeader {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}


/*Media Queries*/

/* Mobile First (até 480px) */
@media (max-width: 480px) {
    header {
        justify-content: space-between;
        padding: 1em;
        gap: 0;
        width: 100%;
    }

    .spanHeader {
        font-size: 1.3em;
    }

    .desktops {
        display: none;
    }

    .menuMobile {
        display: block;
    }
}

/* Smartphones grandes (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos para celulares maiores */
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tablets */
}

/* Laptops (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* Estilos para laptops */
}

/* Desktops padrão (1281px - 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
    /* Estilos para desktops */
}

/* Telas muito grandes (1441px +) */
@media (min-width: 1441px) {
    /* Estilos para telas gigantes */
}