.sectionProjetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: var(--paddingSections);
    color: var(--textColor);
    background-color: var(--primaryColor);
}

.tittleProjetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionProjetos h2{
    font-size: var(--sizeTittle);
    color: var(--detailsColor)
}

.sectionProjetos h3{
    font-size: var(--sizeSubTittle);
}

.projetos{
    width: 1054px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4em;
}