.containerProject {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 348px;
    border-radius: 20px;
}

.iconCardProject {
    font-size: 30px;
}

.projectImage {
    width: 100%;
    height: 100%;
    position: relative;
}

.projectImage img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.projectImage img:hover {
    z-index: 0;
}

.projectImage .titleProject {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 0.5em;
    z-index: 1;
    cursor: pointer;
}

.projectImage .titleProject:hover {
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.6);
    transition: background-color 700ms;
}

.contentContainer {
    background-color: rgb(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 500ms ease;
}

.open {
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
}

.close {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.projectContent {
    width: 80%;
    height: 90%;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5em;
    padding: 0.5em;
    background-color: var(--secondaryColor);
    border-radius: 20px;
}

.contentWrapper {
    width: 100%;
    height: 90%;
    display: flex;
    gap: 1em;
    color: var(--textColor);
}

.contentFigure {
    width: 60%;
    height: 90%;
}

.contentFigure img {
    width: 100%;
    height: 100%;
}

.contentDetails {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.topoProjeto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 1em;
}

.redirecionamento {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.5em;
}

.closeButton {
    font-size: 1.5em;
}

.redirecionamento a:hover,
.closeButton:hover {
    --textColor: var(--detailsColor);
}

.descriptionProject {
    font-size: var(--sizeParagrafo);
}

.containerTecnologias {
    gap: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contentTecnologias {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.tecnologia {
    padding: .5em;
    border: 1px solid var(--detailsColor);
    border-radius: 10px;
    background-color: var(--primaryColor);
}

/*Media Queries*/

/* Mobile First (até 767px) */
@media (max-width: 767px) {
    .containerProject {
        width: 100%;
        height: 250px;
    }

    .contentContainer {
        width: 100%;
        height: 100%;
        padding: 0em 1em;
    }

    .projectContent {
        width: 100%;
    }

    .contentWrapper {
        flex-direction: column;
        overflow: scroll;
    }

    .contentDetails {
        width: 100%;
    }

    .contentFigure {
        width: 100%;
    }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    .containerProject {
        width: 100%;
    }

    .contentContainer {
        width: 100%;
        height: 100%;
        padding: 0em 1em;
    }

    .projectContent {
        width: 100%;
    }

    .contentWrapper {
        flex-direction: column;
        overflow: scroll;
    }

    .contentDetails {
        width: 100%;
    }

    .contentFigure {
        width: 100%;
    }

}

/* Telas muito grandes (1441px +) */
@media (min-width: 1440px) {
    .projectContent {
        width: 90%;
        height: 80%;
        padding: 0.5em 1em;
    }

    .contentDetails {
        gap: 3em;
    }

    .closeButton {
        font-size: 2.5em;
    }

    .title h1 {
        font-size: var(--sizeSubTittle);
    }
}