:root{
    --primaryColor: #0A192F;
    --secondaryColor: #0F2443;
    --textColor: #CCD6F6;
    --detailsColor: #64FFDA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
