:root{
    --primaryColor: #0A192F;
    --secondaryColor: #0F2443;
    --textColor: #CCD6F6;
    --detailsColor: #64FFDA;
    --paddingSections: 2em 3em;
    --sizeTittle: 2.5em;
    --sizeSubTittle: 2em;
    --sizeParagrafo: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
