.sectionConhecimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    color: var(--textColor);
    background-color: var(--primaryColor);
}

.tittleConhecimento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tittleConhecimento h2 {
    font-size: var(--sizeTittle);
    color: var(--detailsColor)
}

.tittleConhecimento h3 {
    font-size: var(--sizeSubTittle);
}

.conhecimentos {
    display: flex;
    flex-wrap: wrap;
    width: 51%;
    gap: 2em;
}

/*Media Queries*/

/* Mobile First (até 480px) */
@media (max-width: 767px) {
    .tittleConhecimento{
        font-size: 12px;
    }

    .conhecimentos{
        width: 92%;
    }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .tittleConhecimento{
        font-size: 18px;
    }

    .conhecimentos{
        width: 75%;
    }
}